**/*.sw[op]

.env

*.tar.gz

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage


# Directories:
backups

assets
bower_components
bower.json
Gruntfile.js
node_modules
npm-debug.log

package.json


database.rules.json
firebase.json
package.json
.firebaserc

*sublime-*