<div ng-controller="mainCtrl">

<div class="wrapper">

  <span id="timer">5.00 sek</span>
  <span id="buttonCounter">0 </span>clicks
  <span id="status"></span>


  <button class="start-button">CLICK!</button>
  <br>
  <span ng-click="tryAgain()" class="try-again">Try again!</span>
  <br>
  <span ng-click="submitScore()" class="submit-score">  Submit your score!</span>

</div>



  <form ng-submit="addScore()" class="submit-form">
    <input ng-model="name" placeholder="Navn" />
    <br>
    <input ng-model="email" placeholder="E-post" />
    <div ng-model="score" class=""></div>
    <button type="submit" class=""> Send inn din score! </button>
  </form>

</div>

<div class="hiscores">
  <h3> HIGHSCORE </h3>
  <div ng-repeat="score in scores.slice().reverse()" class=""> {{score.name}}
  <strong>{{score.score}} </strong>
  <br>
  </div>
</div>