<div ng-controller="mainCtrl">

  <img src="assets/helenorges.svg" alt="HELE NORGES KNAPP" class="hele-norges">


  <div class="info-sub">

  <h2> Premier </h2>

  <h3> Tur med jagerfly </h3>

  <p> En dag hos Russian Warbirds of Norway i Skien, med tur i en Aero L29 Viper sammen med en erfaren pilot. Premien dekker kun turen med jagerflyet, ikke reise og opphold. </p>

  <h3> Opplevelsesreise til Svalbard</h3>

  <p> Tur til Svalbard. Premien dekker reise og tre dagers opphold, samt tur med snøscooter eller hundesledesafari. </p>

  <h3> Smart Home-installasjon</h3>

  <p> Installasjon av Smart Home-pakke fra leverandøren Future Home til en verdi av 15000 kroner. Premien dekker både produktene og installasjon av elektriker.</p>

  <br>

  <h2> Konkurranseregler</h2>

  <p> Disse konkurransereglene gjelder for deltagere i konkurransen for BankAxept – Hele Norges knapp som er på nettsider og i sosiale medier (Facebook og Instagram).</p>

  <p> 1. Ansatte i BankAxept AS, samt deres nærmeste familie kan ikke delta eller vinne i konkurransen.</p>

 <p>  2. Er vinneren under 18 år, må foreldre eller foresatte gi samtykke til at vinneren kan motta premien. Eventuell premieskatt eller avgifter skal betales av vinneren selv.</p>

  <p> 3. Vinnerens navn, bilde og stemme, kan brukes i markedsføring eller deres partnere på nett eller andre kanaler. Gjennom deltakelse i konkurranser/aktiviteter godkjenner deltakerne en slik bruk.</p>

  <p> 4. En familie/husstand kan bare vinne en premie.</p>

  <p> 5. Med mindre noe annet klart framgår av premiebeskrivelsen eller uomtvistelig er avtalt, er BankAxept AS ikke ansvarlig for eventuelle følgekostnader knyttet til premiene eller bruken av dem - så som for eksempel transport til avreisested, kost, losji, tilleggsaktiviteter-
   og utstyr, og annet som ikke er beskrevet som en del av premien.</p>

  <p> 6. Vinneren kan ikke bytte premien mot økonomisk kompensasjon eller overføre premiekravet til andre personer eller organisasjoner.</p>

  <p> 7. BankAxept AS forbeholder seg retten til å kunne endre konkurransen/aktiviteten, regler og innhold når som helst under konkurranseperioden.</p>

  <p> 8. Ved alle premier med reiser gjelder 18 års aldersgrense for å kunne gjøre bruk av premien (alternativt i følge med foresatte hvis ikke annet er avtalt). BankAxept AS er ikke ansvarlig for å skaffe til veie en ekstra reise eller på annen måte legge til rette
   for at foresatte kan reise sammen med en ikke myndig premievinner.</p>

  <p> 9. BankAxept AS er ikke ansvarlig for reiseforsikring ved reisepremier, og vinneren reiser på eget ansvar. Det påligger vinneren(e) selv å tegne relevant reiseforsikring for premiereisen dersom vinneren(e) ønsker å være forsikret.</p>


  <p> 10. Det er kun tillatt å benytte seg av mobiltelefoner, nettbrett eller andre medier med touchscreen i konkurransen Hele Norges Knapp.</p>

  <p> 11. Ved deltakelse i konkurranser på BankAxept AS, aksepterer deltakerne disse konkurransereglene og de beslutninger BankAxept AS kan komme til å ta vedrørende vinnere, endringer i periode, opplegg eller gjennomføring av konkurransen, som endelige og definitive.
   BankAxept AS forbeholder seg retten til å utestenge deltakere om de bryter reglene, jukser, skaffer seg urettmessige fordeler eller forsøker å sabotere konkurransen/aktiviteten.</p>

  <p> 12. BankAxept er ikke ansvarlig for feil i teknologien som kan oppstå underveis.</p>

  <p> 13. Konkurransen varer fra 09.08.2016 klokken 10:00 til 23.08.2016 klokken 17:00. Vinnerne vil bli kontaktet på e-post og annonsert på Facebook etter konkurransen er over.</p>

  <br>

  <h2> Kontakt</h2>

  Noe du lurer på? Ta kontakt med oss på
  <a href="mailto:caroline.stormorken@bankaxept.no?Subject=Hele%20norges%20knapp" target="_top">caroline.stormorken@bankaxept.no</a>


  <img src="assets/baxlogo-hvit.png" alt="HELE NORGES KNAPP" class="baxlogo-desktop">

  </div>



</div>