html, body {
  width: 100%;
  margin: 0;
  font-family: 'helvetica neue';
  touch-action: manipulation;
}

button:focus {outline:0;}


.wrapper {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#timer{
  display: block;
  margin-top: 40px;
  font-size: 30px;
}

#buttonCounter{
  display: block;
  font-size: 25px;
  color: #424242;
  margin-top: 30px;
}

#status {
  display: block;
  font-size: 25px;
  color: #424242;
  margin-top: 30px;
}

.start-button{
  font-size: 22px;
  color: #fff;
  background: #00bfff;
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  cursor: pointer;
}

.try-again{
  cursor: pointer;
}

.submit-form {
  text-align: center;
}

.submit-score{
  cursor: pointer;
}

.hiscores {
  margin-top: 30px;
  text-align: center;
}